{% extends 'base.html' %}

{% block content %}

<div class="content-container">
    <div class="row centered">
        <h2>Jess Charms</h2>
    </div>

    <hr>

    <div class="row">
        <div class="eight columns">
            <img class="about-pic" src="https://chefjess.s3-us-west-2.amazonaws.com/images/IMG_1473.jpg" />
        </div>

        <div class="four columns">
            <p>Family is very important to me. I love to travel. I love hiking and the outdoors! Favorite food? PIZZA! I nerd out over nerdy things like Star Wars and Marvel movies. Biggest nerd ever. You'll know I like you if I let you meet my dog.</p>
            <hr>

        </div>
    </div>

    <hr>

</div>

{% endblock %}
