{% load static %}
<!doctype html>
<html>
    <head>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'css/skeleton.css' %}">
        <link rel="stylesheet" href="{% static 'css/customskeleton.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        <script src=" {% static 'js/jquery-3.2.1.min.js' %}"></script>
        <script src=" {% static 'js/lazyload.min.js' %}"></script>
        <script src=" {% static 'js/detect.min.js' %}"></script>
        <script src=" {% static 'js/application.js' %}"></script>

    </head>

    <body>
        <div class="container">
        <div class="navbar-spacer"></div>
            <nav class="navbar" id="navbar">
                <div class="container">
                    <ul class="navbar-list">
                        <li class="navbar-item">
                            <a class="navbar-link" href="/">home</a>
                        </li>

                        <li class="navbar-item">
                            <a class="navbar-link" href="/meals">meals</a>
                        </li>

                        <li class="navbar-item">
                            <a class="navbar-link" href="/about_me">about me</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        {% block content %}
        {% endblock %}

    </body>
</html>
