{% load static %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Chef Jess</title>

    <link href="https://fonts.googleapis.com/css2?family=Dosis&family=Satisfy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src=" {% static 'js/application.js' %}"></script>

  </head>

  <body>
    <div class="menu">
      <div class="menu-inner">
        <div class="menu-text">
          <a href="/"><h1>Chef Jess</h1></a>
          {% if user.is_authenticated %}
          <div class="admin">
            <a href="{% url 'new_meal' %}">Add New Meal</a>
            <!--<a href="{% url 'new_recipe' %}">Add New Recipe</a>
            <a href="{% url 'new_ingredient' %}">Add New Ingredient</a>
             <a href="{% url 'logout' %}">Log out</a> -->
          </div>
          {% endif %}
        </div>

        <div class="hamburger hamburger--emphatic">
          <div class="hamburger-box">
            <div class="hamburger-inner"></div>
          </div>
        </div>

        <div class="mobile-menu">
          <hr>
          <ul>
            <a href="{% url 'new_meal' %}">
              <li>Add New Meal</li>
            </a>
          </ul>
          <hr>
        </div>
      </div>
    </div>

    {% block content %}
    {% endblock %}

    <div class="footer">
      Just a cool footer thanks
    </div>

  </body>
</html>
