{% extends "base.html" %}
{% load static %}
{% block content %}

<h1>Chef Jess's Blog</h1>
<hr>

{% for meal in meals %}
<h2>{{meal.date}}</h2>
<h3>Meal: {{meal.meal_type}}</h3>
<h3>{{meal.meal_name}}</h3>
<h3>Location: {{meal.location}}</h3>
<h3>Cuisine: {{meal.cuisine}}</h3>
<h4>Impressions:</h4>
<p>{{meal.notes}}</p>
<h4>Recipe</h4>
<u>{{meal.recipe}}</u>
{% for ingredient in meal.recipe.ingredient.all %}
  <ul>
    <li>{{ingredient.ingredient_name}}{% if ingredient.notes %} ({{ingredient.notes}})
  {%endif%}</li>
  </ul>
{%endfor%}
<h4>People with me</h4>
<p>{% for person in meal.person.all %}</p>
  {{person}}
  {% endfor %}
{% endfor %}

{% endblock %}


