{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="index">

  <div class="meals-container">

    {% for meal in meals %}
    <div class="meal-container">
      <a href="{% url 'meal_detail' meal_type=meal.meal_type id=meal.id %}">
        <div class="meal">
          <div class="image-container">
            <div class="image">
              <img src="{% static 'img/meal_placeholder.jpg' %}" />
            </div>
          </div>


          <div class="meal-info">
            <h2 class="meal-name">{{meal.meal_name}}</h2>
            <div class="meal-text">
              {{ meal.date }} - {{ meal.meal_type }}
            </div>
        </div>
      </div>
    </a>
    </div>


  {% endfor %}

  </div>
</div>

{% endblock %}


