{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1>Meals</h1>
<hr>

<div class="meals-container">


  {% for meal in meals %}
  <div class="meal">
    <div class="image-container">
      <div class="image">
        <img src="{% static 'img/meal_placeholder.jpg' %}" />
      </div>
    </div>
    <a href="{% url 'meal_detail' meal_type=meal.meal_type id=meal.id %}">
      <h2 class="meal-name">{{meal.meal_name}}</h2>
    </a>
    <h2>{{ meal.date }}</h2>
    <h3>Meal: {{ meal.meal_type }}</h3>
  </div>


{% endfor %}

</div>

{% endblock %}


