{% extends 'base.html' %}

{% block content %}

<div class="content-container">
    <div class="row centered">
        <h2>{{ meal.meal_name }}</h2>
        <p>{{ meal.date }}</p>
        {% if meal.location %}<p>{{ meal.location }}{% endif %}</p>{% if meal.meal_type %} {{ meal.meal_type }} •{% endif %}
        {% if meal.cuisine %}{{ meal.cuisine }}{% endif %}
    </div>

    <hr>

    <div class="meal-row row">
        <div class="eight columns">
            <div class="clearfix" style="max-width:474px;">
                <ul id="image-gallery" class="slideshow gallery list-unstyled cS-hidden">
                    <li data-thumb="{{ meal.meal_image.url }}">
                        <img class="meal-image" src="{{ meal.meal_image.url }}" />
                    </li>
                    {% if meal.images_set.all %}
                    {% for m in meal.images_set.all %}
                    <li data-thumb="{{ m.image.url }}">
                        <img class="meal-image" src="{{ m.image.url }}" />
                    </li>
                    {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>

        <div class="four columns">
            <p>{{ meal.notes|linebreaks }}</p>
            <hr>
            {% if meal.person.all %}
            <div class="person-container">
                People I ate this meal with:
                <ul>
                    {% for person in meal.person.all %}
                    <li>{{person}}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>

    <hr>

    <div class="row">

        {% if user.is_authenticated %}
        <div class="navigation-container">
            {% else %}
            <div class="navigation-container">
                {% endif %}
                {% if user.is_authenticated %}
                <a class="button" href="{% url 'meal_edit' id=meal.id %}">Edit this meal</a>
                {% endif %}
                {% if prev_meal %}
                <a class="button" href="{% url 'meal_detail' prev_meal.id %}"><<< Prev Meal</a>
                {% else %}
                <span class="button grayed-out"><<< Previous</span>
                {% endif %}

                <a class="button" href="/">Back to Home</a>

                {% if next_meal %}
                <a class="button" href="{% url 'meal_detail' next_meal.id %}">Next Meal >>></a>
                {% else %}
                <span class="button grayed-out">Next >>></span>

                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
