{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="content-container">
    <h1 class="centered">Meals</h1>

    <hr>

    <div class="row meal-row">
        {% for meal in meals %}
        <div class="three columns meal-column">
            <a href="{% url 'meal_detail' id=meal.id %}">
                <img class="meal-image meal-thumbnail lazy" data-src="{{ meal.meal_image.url }}" />

                <div class="overlay">
                    <div class="meal-name">
                        {{ meal.meal_name }}
                    </div>
                </div>
            </a>
        </div>

        {% if forloop.counter|divisibleby:"4" and not forloop.last %}
    </div>

    <div class="row meal-row">

    {% endif %}

  {% endfor %}

</div>

<script>
    $(document).ready(function() {

      //random alert
      var errorMessage = "Mahal kita"
      var randomPopUp = Math.floor(Math.random() * 25) + 1;

      if (randomPopUp == 1) {
        alert(errorMessage);
      }
    })

</script>

{% endblock %}


