{% extends 'base.html' %}

{% block content %}

<div class="meal-detail-container">


  <div class="meal-image">
    <img src= "{{ meal.meal_image.url}}" />
  </div>

  <div class="meal-info detail-container">

    <div class="meal-about">
      <div class="meal-name">
        {{ meal.meal_name }}
      </div>

      <div class="meal-content">
        <div class="meal-meta meal-date">
          {{ meal.date }}
        </div>

        {% if meal.meal_type %}
        <div class="meal-meta meal-type">
          • {{ meal.meal_type }} •
        </div>

        {% endif %}

        {% if meal.cuisine %}
        <div class="meal-meta cuisine">
          {{ meal.cuisine }}
        </div>

        {% endif %}

        <div class="meal-location">
          {{ meal.location }}
        </div>
      </div>
    </div>
  </div>

  <div class="meal-notes detail-container">
    {{ meal.notes|linebreaks }}
  </div>

  {% if meal.person.all %}
  <div class="details-container detail-container">

    <div class="person-container">
      People I ate this meal with:
      <ul>
      {% for person in meal.person.all %}
        <li>{{person}}</li>
      {% endfor %}
      </ul>
    </div>

  </div>
  {% endif %}

  {% if user.is_authenticated %}
  <div style="font-size:10px;" class="navigation-container">
  {% else %}
  <div class="navigation-container">
  {% endif %}
    {% if user.is_authenticated %}
    <a class = "button" href="{% url 'meal_edit' id=meal.id %}">Edit this meal</a>
    {% endif %}
    {% if prev_meal %}
    <a href="{% url 'meal_detail' prev_meal.id %}"><<< Prev Meal</a>
    {% else %}
    <span class="grayed-out"><<< Previous</span>
    {% endif %}

    <a href="/">Back to Home</a>

    {% if next_meal %}
    <a href="{% url 'meal_detail' next_meal.id %}">Next Meal >>></a>
        {% else %}
    <span class="grayed-out">Next >>></span>

    {% endif %}
  </div>
</div>
{% endblock %}
