.meal-detail-container {
  margin: 0 auto;
  max-width: 980px;
  font-family: 'Dosis', sans-serif;
  padding: 15px;

  @media (max-width: $mobile) {
    margin: 80px auto;
  }

  .meal-image {
    text-align: center;
  }

  .detail-container {
    max-width: 500px;
    margin: 10px auto 20px;
    padding: 20px;
    background: $pink;
    border-radius: 5px;
  }

  .meal-info {
    text-align: center;

    .meal-name {
      font-family: 'Satisfy', cursive;
      font-size: 2em;
    }

    .meal-content {


      .meal-meta {
        display: inline-block;
        text-transform: capitalize;
      }

      .meal-location {
        font-size: 1.5em;
        padding: 5px;
      }
    }
  }


  .details-container {


    .person-container {

      ul {
        list-style-type: none;

        li {
          padding: 2px 15px 0;
        }
      }
    }
  }

  .navigation-container {
    max-width: 500px;
    margin: 30px auto;
    text-align: center;

    a {
      color: #fff;
      transition: 250ms all;

      &:hover {
        color: $pink;
      }
    }

    .grayed-out {
      color: #ddd;
    }

    a, .grayed-out {
      text-decoration: none;
      background: $brown;
      border-radius: 5px;
      padding: 10px;

      @media (max-width: $mobile) {
        margin: 0 20px 15px;
        display: block;
      }
    }
  }
}
