/* skeleton overrides and custom styles */

/* global */
p {margin-bottom: .5rem; }
a {text-decoration: none; }
hr {margin-top: 1.5rem; margin-bottom: 1.5rem; }
h2 {margin-bottom: 0;}
.navbar-list {list-style: none; }
.banner-container {width: 100%; }
.banner-container img {width: 100%; height: 100px; object-fit: cover; }
.content-container h1 {margin: 1rem 0; }
.centered {text-align: center; }
.header-row {margin-bottom: 5rem; }
.mobile-show {display: none; }
.grayed-out {opacity: .6;}

/* home page */


/* meal page */
.meal-detail-content-container {margin-bottom: 0; }
.meal-row {margin: 1rem 0; }
.overlay {position: absolute; bottom: 0; left: 0; right: 0; overflow: hidden; width: 100%; height: 0; transition: .5s ease; border-radius: 5px; }
.meal-column {position: relative; }
.meal-column:hover .overlay {height: 100%; }
.overlay .meal-name {color: white; font-size: 1em; width: 100%; background: rgba(0,0,0,.5); position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); text-align: center;}
.meal-image {width: 100%; border-radius: 5px; }
.meal-thumbnail {transition: 150ms all; }
.meal-thumbnail:hover {opacity: .8; }
img.lazy {opacity: 0; }
img:not(.initial) {transition: opacity 1s; }
img.initial, img.loaded, img.error {opacity: 1; }
img:not([src]) {visibility: hidden; }
.additional-image:hover {cursor: pointer; }

/* meal detail page */
ul.slideshow {list-style: none outside none; padding-left: 0; margin: 0; }
.content-slider li{background-color: #ed3020; text-align: center; color: #FFF; }
.content-slider h3 {margin: 0; padding: 70px 0; }
.person-container ul {list-style: none;}
.person-container ul li {margin-bottom: 0; padding-left: 5px;}
.button.grayed-out {cursor: default;}
.button.grayed-out:hover {border: 1px solid #bbb;}

/* about page */
.about-pic {width: 100%;}

/* media queries */
@media (max-width: 749px) {

    .navbar-spacer {height: 6.5rem;}
    .navbar {position: fixed; width: 100%; background: white; top: 0; height: 6.5rem; z-index: 1;}
    .mobile-show {display: block; }
    .mobile-hide {display: none; }
    .navbar .container {width: 100%; padding: 20px 0 0; }
    .navbar-list li {display: inline; padding-right: 10px; }
    .content-container {margin-bottom: 20px; }
}

@media (max-width: 549px) {
    .meal-row {margin: 0; }
    .meal-column {margin: 1em 0; }
    .meal-column .overlay {height: 20%;}
    .navigation-container .button {width: 100%;}
}
