.form-container {
  max-width: 600px;
  margin: 30px auto 80px;
  background: $pink;
  padding: 20px;

  @media (max-width: $mobile) {
    margin: 78px auto 80px;
  }

  h2 {
    font-size: 2em;
    font-family: 'Satisfy', cursive;
    text-align: center;
  }

  form {
    label {
      font-size: 1.5em;
      font-family: 'Dosis', sans-serif;
      display: block;
      padding: 20px 0;

      &[for="id_make_again"] {
        display: inline-block;
      }
    }

    #id_make_again {
      -ms-transform: scale(1.5); /* IE */
      -moz-transform: scale(1.5); /* FF */
      -webkit-transform: scale(1.5); /* Safari and Chrome */
      -o-transform: scale(1.5); /* Opera */
      transform: scale(1.5);
      margin: 10px;

      @media (max-width: $mobile) {
        width: 10%;
      }
    }

    input {
      padding: 10px;
      font-size: 1em;

      @media (max-width: $mobile) {
        padding: 10px 0;
        width: 100%;
      }
    }

    select {
      padding: 10px;
      font-size: 1em;
      width: 250px;

      @media (max-width: $mobile) {
        width: 100%;
      }
    }

    textarea {
      width: 100%;
      font-size: 2em;
      font-family: 'Dosis', sans-serif;
    }

    button[type="submit"] {
      display: block;
      margin: 0 auto;
      padding: 10px;
      width: 150px;
      font-size: 1em;
      background: white;
      border: 0;
      border-radius: 5px;
      cursor: pointer;
      transition: 250ms all;

      &:hover {
        background: #F4DDD9;
      }
    }
  }
}
