
h1 {
  color: blue;
}

.meals-container {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;

  .meal {
    width: 50%;

    .image-container {
      padding: 10px;

      .image {
        img {
          width: 100%;
          border-radius: 10px;
        }
      }
    }
  }
}
