.index {
  margin: 0 auto 80px;
  max-width: 980px;

  .meals-container {
    font-family: 'Dosis', sans-serif;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    background: $light-gray;

    .meal-container {
      margin-bottom: 20px;

      a {
        text-decoration: none;

      }

      .meal {
        margin: 10px;
        background: $background;

        .image-container {
          padding: 10px;

          .image {
            img {
              width: 100%;
              border-radius: 10px;
            }
          }
        }

        .meal-info {
          padding: 10px;

          .meal-name {
            color: $dark;
          }

          .meal-text {
            color: $brown;
            font-size: 12px;
          }
        }
      }
    }
  }
}
