.index {
  margin: 0 auto;
  max-width: 980px;

  .meals-container {
    font-family: 'Dosis', sans-serif;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    background: $light-gray;

    .meal-container {
      width: 50%;

      a {
        text-decoration: none;

      }

      .meal {
        margin: 10px;
        background: $background;
        display: flex;

        .image-container {
          padding: 10px;
          width: 50%;

          .image {
            img {
              width: 100%;
              border-radius: 10px;
            }
          }
        }

        .meal-info {
          padding: 10px;

          .meal-name {
            color: $dark;
          }

          .meal-text {
            color: $brown;
          }
        }
      }
    }
  }
}
