.menu {
  background: $dark;

  .menu-inner {
    color: #fff;
    margin: 0 auto;
    max-width: 980px;
    padding: 10px;

    .menu-text {
      position: relative;

      a {
        color: #fff;
        transition: 250ms all;

        &:hover {
          color: $light;
        }
      }

      h1 {
        font-family: 'Satisfy', cursive;
        font-size: 2.5em;
        display: inline-block;
      }

      .admin {
        display: inline-block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;

        a {
          text-decoration: none;
          color: #fff;
          font-family: 'Dosis', sans-serif;
          padding: 0 5px;
        }
      }
    }
  }
}
